*{
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  color: $dark-grey;
  line-height: 1.6;
  
    text-align: right;
}

button {
  cursor: pointer;
}

.transparentBt{
  background: transparent;
    border: none;
}

button:disabled {
  cursor: default;
 
  background: fade-out( #3F51B5, .25);
}

.is-active {
  font-weight: bold;
}
.flex{
  display: flex;
}
