.header {
  background-color: $dark-blue;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  background-color: white;
  padding: 2rem 10px 0.5rem 10px;
}

.header .logo {
  text-align: center;
  padding: 5px;
  margin-bottom: 1px;
}

h1 {
  margin: 0;
  font-size: 48px;
}
